.primary{
    padding-top: 50px;
}

.primary3{
    margin-top:50px;
    padding:10px
}

.content{
    
   color:white
}

.primary2{
    float:left
}

.primary4{
    margin-top:50px;
    margin-left:180px;
    margin-right:100px;
    padding:50x
}

.primary5{
    margin-bottom:50px
}

